.button {
  margin-top: 35px;
}
  
.click {
  width: 100px;
  margin: auto;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background:rgba(227, 192, 246, 0.1);
  backdrop-filter: blur(4px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
  cursor: pointer;
}

#button-links {
  display: flex;
  position: relative;
  top: 25px;
  justify-content: center;
  padding: 45px 0;
  font-size: 15px;
  gap: 35px;
  @media screen and (max-width: 768px) {
    gap: 15px;
  }
}