.Open {
    --transformCardFront: none;
    --displayImg: flex;
    --heightCardFront: 400px;
}

.Close {
    --transformCardFront: rotateX(160deg);
    --displayImg: none;
    --heightCardFront: 330px;
}

#cardFront {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../../../assets/background-lavanda.png);
    width: 600px;
    height: var(--heightCardFront);
    overflow: hidden;
    transform-origin: top;
    transform: var(--transformCardFront);
    box-shadow: inset 20px 10px 90px rgba(0,0,0,.13), 20px 0 40px rgba(0,0,0,0.1);
    transition: .6s;
    border-radius: 3px;
}

.logoKR {
    display: var(--displayImg); 
}
