@font-face {
  font-family: 'Garet';
  src: url(/fonts/Garet-Book.otf);
}

:root {
  font-family: 'Garet';
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
 

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-image: url(../src/assets/back-lilas-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 320px;
}


